* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a {
    margin: 0;
    padding: 0;
}



/* global ================ */
h1 {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-size: 35px;
    color: #000;
    font-weight: 700;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-size: 25px;
    color: #000;
    font-weight: 600;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
}

p {
    font-size: 18px;
    color: #020202;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 33px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

li {
    list-style: none;
    margin-bottom: 8px;
}

:root {
    --cs-primary: #2a9ae2;
    --cs-card: #2a9be20e;
}

a {
    text-decoration: none;
    color: #000;
}

.btn:hover {
    color: #fff;
    box-shadow: 0px 0px 12px 4px #00000024;
}

.highlight {
    color: var(--cs-primary);
}

.c-60 {
    padding: 60px 0px;
}

.c-50 {
    padding: 50px 0px 20px 0px !important;
}

.single_sec {
    background-color: var(--cs-card);
}

/* global ends */

/* header starts ===============*/
.navbar {
    padding: 20px 30px;
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0;
    padding: 10px 20px;
}

.head_demo {
    margin-left: 20px;
}

.btn-demo {
    padding: 0;
    padding: 10px 20px;
    background-color: var(--cs-primary);
    border-radius: 50px;
    font-weight: 600;
    color: #fff;
}

.navbar-expand-lg .navbar-nav {
    align-items: center;
}

/* header ends=================== */

/* hero starts */
.hero {
    background: url(../images/hero.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #002d4a42;
}

.hero-row {
    min-height: 90vh;
    text-align: center;
    position: relative;
    z-index: 10;
    width: 50%;
    margin: auto;
}

.hero_contents h3 {
    margin: 0;
    margin: 30px 0px;
    color: #fff;
}

.hero_contents h4 {
    font-size: 30px;
    margin-top: 30px;
    color: #fff;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

/* hero ends */

/* about starts */
.about_image img {}

.features_title {
    text-align: center;
    padding: 0;
}

.about_card {

    background-color: var(--cs-card);

    padding: 50px 70px;

    text-align: center;

    border-radius: 20px;

    border: 1px solid #2a9be270;

    box-shadow: 0px 0px 11px 4px #0000001c;

    margin-bottom: 30px;

    height: 300px;
}


.abcard_icon {
    background-color: var(--cs-primary);
    padding: 20px;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.abcard_icon i {
    font-size: 25px;
    color: #fff;
}

.about_card h3 {
    padding-top: 15px;
    padding-bottom: 8px;
    margin: 0;
}

.about_card p {
    margin: 0;
    font-size: 16px;
    line-height: 26px;
}

/* about section ends=============== */

/* industries starts================ */
.industries {
    background-color: var(--cs-card);
}

.indus_content p {
    width: 80%;
}

.industries_image {
    padding: 30px;
    position: relative;
}

.owl-carousel .owl-item img {
    display: block;
    width: 75%;
    padding: 10px;
}

.owl-nav {
    display: none;
}

.owl-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 80%;
}

.owl-dots .owl-dot span {

    display: block;

    width: 8px;

    height: 8px;

    border-radius: 50px;

    border: 1px solid #2a9be25c;

    background: #2a9be25c;

    margin-right: 7px;
}

.owl-dots .active span {

    display: block;

    width: 10px;

    height: 10px;

    border-radius: 50px;

    border: 1px solid var(--cs-primary);

    background: var(--cs-primary);
}

.recomm {
    text-align: center;
}

.recomm p {

    width: 50%;

    margin: auto;
}

.hover_images {
    position: relative;
    width: 100%;
    min-height: 400px;
    object-fit: cover !important;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background: url(../images/it.jpg);
    border-radius: 20px;
    box-shadow: 0px 0px 14px 5px #0000001e;
    transition: .4s all ease-in-out;
}

.image_names {

    padding: 20px;
}

.image_names ul li p {
    font-size: 18px;
    color: #020202;
    font-weight: 400;
    margin-bottom: 2px;
    line-height: 33px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.image_names ul li p:hover {
    color: var(--cs-primary);
    padding-left: 5px;
    transition: .4s all ease-in-out;
}

/* industrious section ends================== */

/* how starts================================ */
.how_title p {
    width: 50%;
    margin: auto;
}

.how_card {
    text-align: center;
    padding: 40px;
}

.howcard_icon {
    background-color: transparent;
    border: 1px solid var(--cs-primary);
}

.howcard_icon i {
    color: var(--cs-primary);
}

.how_card img {
    width: 80%;
    margin: 25px 0px;
    box-shadow: 0px 0px 12px 2px #00000012;
    border-radius: 10px;
    height: 180px;
    object-fit: cover;
    background-size: cover;
}

.why {
    background-color: var(--cs-card);
}

/* how and why ends=========================== */

/* impact starts============================== */
.impact_title {
    margin-bottom: 20px;
}

.impact_names {
    text-align: center;
    background-color: var(--cs-card);
    margin-bottom: 20px;
    padding: 40px 20px;
    border: 1px solid var(--cs-primary);
    border-radius: 20px;
}

.impact_names h3 {
    color: var(--cs-primary);
    font-weight: 600;
    font-size: 35px;
}

.impact_names h4 {
    font-size: 25px;
}

.review_box {
    padding: 40px;
}

.testimonials {}

.testimonials h2 {
    color: var(--cs-primary);
    text-align: center;
    font-size: 25px;
}

.testimonials hr {
    width: 500px;
    margin: auto;
    margin-bottom: 30px;
    padding: 1px;
    color: var(--cs-primary);
}

.review {
    text-align: center;
    width: 70%;
    margin: auto;
}

.review img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 100px;
    box-shadow: 0px 0px 11px 3px #0000001f;
}

.client_des {}

.client_des h3 {
    margin: 0;
    margin: 10px 0px;
}

.client_des p {
    margin: 0;
}

.review_text {}

.review_text p {
    margin: 0;
    padding: 20px 0px;
    font-weight: 300;
}

/* impact ends */

/* software starts========================= */
.software {
    background-color: var(--cs-card);
}

.soft_intro {
    margin-bottom: 30px;
}

.soft_intro p {
    width: 80%;
    margin: auto;
}

.soft_des p {
    color: var(--cs-primary);
    font-weight: 600;
}

.track {
    display: flex;
}

.track_card {
    padding: 40px 15px;
    height: auto;
    margin: 0;
    width: 95%;
    box-shadow: 0px 0px 11px 4px #0000000a;
    margin: auto;
    height: 340px;
}

.track_card p {
    font-size: 16px;
    text-align: initial;
}

.track_conclusion {

    display: flex;

    justify-content: center;

    margin-top: 30px;
}

.track_conclusion i {
    font-size: 22px;
    color: var(--cs-primary);
}

.track_conclusion p {
    margin: 0;
    font-weight: 600;
}

.charge_box {
    padding: 30px 50px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 14px 0px #00000012;
}

.charge_box p {
    color: var(--cs-primary);
    font-weight: 600;
    margin: 0;
    text-align: center;
}

.advertise_button {
    text-align: center;
    margin-top: 30px;
}

.btn-advertise {
    font-size: 20px;
    padding: 0;
    padding: 15px 20px;
    background-color: var(--cs-primary);
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}

.tracking_features h4 {
    font-weight: 700;
    color: var(--cs-primary);
    padding-bottom: 15px;
}

.tracking_features ul {
    padding-left: 20px;
}

.tracking_features ul li {
    list-style: inherit;
    margin: 0;
}

.tracking_features ul li p {
    margin: 0;
}

.products {
    margin-top: 30px;
}

.req_contact {
    color: var(--cs-primary);
    cursor: pointer;
}

.pm h4 {
    color: var(--cs-primary);
    font-weight: 700;
    margin-bottom: 30px;
}

.partner {
    text-align: center;
    height: 200px;
    margin-bottom: 10px;
}

.cta {
    background-image: url(../images/cta.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}

.cta .row {
    min-height: 40vh;
}

.cta_content {
    text-align: center;
}

.cta_content h3 {
    color: #fff;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
}

.btn-cta {
    padding: 0;
    padding: 15px 50px;
}

/* software ends */

/* faq starts */
.faq_title p {
    width: 50%;
    margin: auto;
}

.faq_ques {
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

.quote {
    text-align: center;
    margin: 30px 0px;
}

.quote_button {
    margin-top: 20px;
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 20px;
}

.accordion-button:focus {
    z-index: 3;
    border-color: var(--cs-primary);
    outline: 0;
    box-shadow: none;
}

/* faq ends  */

.footer {
    text-align: center;
    background-color: var(--cs-primary);
    padding: 10px 0px;
}

.footer p {
    color: #fff;
    margin: 0;
}